h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body, html {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
a {
    text-decoration: none;
}

/*
Navigation bar
*/

.NavigationBar {
    z-index: 1;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgba(255,255,255,0.0);
    transition: background-color 200ms;
}
.NavigationBar:hover {
    background-color: rgba(255,255,255,0.2);
}
.NavigationItem {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 18px;
    transition: background-color 200ms;
}
.NavigationItem:hover {
    background-color: rgba(255,255,255,0.5);
}
.NavigationItemLeft {
    float: left;
}
.NavigationItemRight {
    float: right;
}
.NavigationLinkContainer {
    border-radius: 5px;
    padding: 5px 10px;  
}
.NavigationLink {
    position: relative;
    box-sizing: border-box;
    overflow: visible;
}
.NavigationContent {
    position: relative;
    text-decoration: none;
    color: #192a56;
}


/*
Header section
*/

.HeaderWrapper {
    position: relative;
    width: 100%;
    height: 500px;
    max-height: 80%;
    box-sizing: border-box;
    background-image: url('../img/pentagon.png');
    background-repeat: repeat;
    background-position: center;
}

.HeaderContent {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px;
    max-width: 100%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

/*
On-load header animations
*/

@keyframes fadeIn1 {
  0% {
    transform: translateY(50%) scale(0.9);
    opacity: 0;
  }
  60% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    transform: translateY(50%) scale(0.9);
    opacity: 0;
  }
  40% {
    transform: translateY(50%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.HeaderTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    display: inline-block;
    color: #192a56;
    margin-bottom: 5px;
    animation: 1000ms ease-out 0s 1 fadeIn1;
}
.HeaderSubtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #192a56;
    animation: 1000ms ease-out 0s 1 fadeIn2;
}

/*
Triangular arrow punch-out at the bottom of the header
*/

.HeaderBottom {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
}
.HeaderBottomRectangle {
    position: absolute;
    width: 80px;
    height: 100%;
    left: 10%;
}
.HeaderBottomLeftRectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10%;
    background-color: #fff;
    transform: translateX(-100%);
}
.HeaderBottomRightRectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(80px);
    left: 10%;
    background-color: #fff;
}
.HeaderBottom.Dark .HeaderBottomRightRectangle,
.HeaderBottom.Dark .HeaderBottomLeftRectangle {
    background-color: #f7f7f7;
}
.HeaderBottomTriangleLeft {
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: transparent transparent transparent #fff;
}
.HeaderBottom.Dark .HeaderBottomTriangleLeft {
    border-color: transparent transparent transparent #f7f7f7;
}
.HeaderBottomTriangleRight {
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 40px;
    border-color: transparent transparent #fff transparent;
}
.HeaderBottom.Dark .HeaderBottomTriangleRight {
    border-color: transparent transparent #f7f7f7 transparent;
}





.AboutMe {
    position: relative;
    width: 100%;
    background-color: #fff;
    background-image: url('../img/tic-tac-toe.png');
    background-repeat: repeat;
    background-position: center;
}
.SectionHeader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-size: 26px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.SectionOuter {
    box-sizing: border-box;
    margin-bottom: 10px;
}
.SectionWrapper {
    position: relative;
    width: 100%;
    max-width: 960px;
    border-bottom: 1px solid #f7f7f7;
    box-sizing: border-box;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
}
.SectionContainerLeftFirst {
    flex-direction: row;
}
.SectionContainerRightFirst {
    flex-direction: row-reverse;
}
.SectionContainer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.Section {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    box-sizing: border-box;
}
.Section.SectionSmall {
    width: 40%;
    min-height: 400px;
}
.Section.SectionLarge {
    padding: 20px 30px 60px 30px;
    width: 60%;
}




.ButtonWrapper {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}
.ButtonWrapper a {
    border: 1px solid #192a56;
    background-color: transparent;
    color: #192a56;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 20px;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
    margin: 5px 3px;
}
.ButtonWrapper a:hover {
    color: #fff;
    background-color: #192a56;
}

.SectionTitle {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    color: #192a56;
}
.SectionSubtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #192a56;
    opacity: 0.3;
    font-size: 14px;
    margin-top: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.SectionText {
    margin-top: 10px;
    line-height: 1.4;
}
.Face {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.DeviceMockupWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.DeviceMockup {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 5px 30px #DEE1E4;
}
.BottomFade {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(255,255,255,0), #fff);
}
.DeviceMockup video {
    object-fit: fill;
    width: 100% !important;
    height: auto !important;
}
.DeviceMockup img {
    position: relative;
    width: 100% !important;
}
.BackgroundFade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#fff, rgba(255,255,255,0));
}


/*
Footer
*/

.Footer {
    position: relative;
    width: 100%;
    text-align: center;
    background-repeat: repeat;
    background-position: center;
    box-sizing: border-box;
    color: #fff;
    background-color: #192a56;
    padding: 30px 25px;
    font-size: 16px;
}
.FooterFixed {
    position: fixed;
    bottom: 0;
}
.Footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}



/*
Resume
*/

.ResumeWrapper {
    position: relative;
    width: 100%;
    max-width: 920px;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px 10px;
}
.ResumeContainer {
    box-sizing: border-box;
}
.ResumeRow {
    position: relative;
    width: 100%;
    overflow: auto;
}
.ResumeColumn {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 5px 25px;
}
.ResumeColumnLeft {
    width: 65%;
}
.ResumeColumnRight {
    width: 35%;
}
.ResumeName {
    font-size: 42px;
    color: #192a56;
}
.ResumePosition {
    color: #192a56;
    opacity: 0.5;
    margin-bottom: 3px;
}
.ResumeText {
    margin-bottom: 5px;
}
.ResumeLink {
    font-weight: 400;
    color: #2079C7;
}
.ResumeSection {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 35px;
    color: #283C75;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ResumeTitle {
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 5px;
}
.ResumeTitleBold {
    font-weight: 400;
    color: #2079C7;
}
.ResumeDate {
    font-family: 'Roboto Condensed', sans-serif;
    color: #192a56;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.ResumeList {
    font-size: 16px;
    opacity: 0.8;
}
.ResumeSkill {
    overflow: auto;
    margin-bottom: 2px;
}
.ResumeSkillName {
    float: left;
    color: #192a56;
}
.ResumeSkillLevel {
    float: right;
}
.ResumeSkillLevelDark {
    color: #2079C7;
}
.ResumeSkillLevelLight {
    color: #192a56;
    opacity: 0.3;
}

/*
Media queries
*/

@media only screen and (max-width: 600px) {
    .Section.SectionStackable {
        width: 100%;
    }
    .Section.SectionLarge {
        padding: 30px 30px 60px 30px;
        width: 60%;
    }
    .DeviceMockup {
        width: 70%;
        left: 15%;
    }
    .NavigationItem {
        font-size: 14px !important;
    }
    .Footer {
        font-size: 14px !important;
    }
    .ResumeColumnLeft {
        width: 100%;
    }
    .ResumeColumnRight {
        width: 100%;
    }
}

