.App {
  position: relative;
  display: flex;
  flex-direction: column;
}

.HeaderWrapper {
  margin-bottom: 0px;
}
.Header {
  background-color: #F6F7FB;
  /* background-color: rgba(75, 123, 236, 0.1);
  background-color: #EFF3FD; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  margin-bottom: -1px;
  overflow: hidden;
}
.HeaderContent {
  position: relative;
  margin: 0 30px;
  max-width: 860px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
}

.Portrait {
  mask-border: url(assets/blob.png);
  width: 320px;
  opacity: 0;
  /* transition: width 150ms; */
}

.HeaderLeft {
  position: relative;
  padding: 25px 20px;
  flex-grow: 1;
}
.HeaderRight {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 420px;
  height: 420px;
}
.BackgroundBlob {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.10;
}

.ProjectTitle {
  color: rgba(0,0,0,0.80);
  font-size: 20pt;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ProjectSubtitle {
  color: rgba(0,0,0,0.40);
  font-size: 12pt;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}
.Title {
  color: rgba(0,0,0,0.80);
  white-space: nowrap;
  font-size: 24pt;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Content {
  color: rgba(0,0,0,0.7);
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5;
}
.Button {
  background-color: #5e858f;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 3px 30px rgba(0,0,0,0.15);
  cursor: pointer;
  margin-bottom: 10px;
  margin: 10px 5px 0 5px;
  outline: none;
  border: none;
}
.Button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.Navigation {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: row;
  transition: background-color 350ms;
}
.NavigationInner {
  max-width: 840px;
  flex-grow: 1;
  display: flex;
  margin: 20px 20px;
}
.NavigationLink {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10pt;
  margin-left: 0px;
  color: rgba(0,0,0,0.70);
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 20px;
}
.NavigationLink:hover {
  background-color: #fff;
}
.Project {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: -1px;
}
.ProjectContent {
  position: relative;
  margin: 0 30px;
  max-width: 860px;
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
  line-height: 1.5;
}
.ProjectContent.Even {
  flex-direction: row;
}
.ProjectContent.Odd {
  flex-direction: row-reverse;
}
.ProjectTechnologies {
  color: rgba(0,0,0,0.4);
  font-size: 10pt;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5;
}
.ProjectPreview {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 45px;
  overflow: hidden;
  border-bottom: 1px solid #f7f7f7;
}
.ProjectInfo {
  padding: 20px 25px;
  padding-bottom: 10vw;
  margin-bottom: 10px;
  position: relative;
}
.DeviceWrapper {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(30px);
  box-shadow: 0px 3px 30px rgba(0,0,0,0.15);
  overflow: hidden;
  max-height: 600px;
}
.ProjectVideo {
  object-fit: fill;
  width: 100%;
  height: auto;
}
.CollapsedName {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  transition: max-width 200ms;
}
.Footer {
  padding: 10px 25px 20px 25px;
  text-align: center;
  background-color: #F6F7FB;
  font-size: 11pt;
}
 
@media only screen and (max-width: 720px) {
  .Portrait {
    width: 220px;
  }
  .HeaderContent {
    flex-direction: column-reverse;
  }
  .BackgroundBlob {
    width: 420px;
  }
  .ProjectContent {
    flex-direction: column !important;
  }
  .DeviceWrapper {
    width: 250px;
    max-height: 450px;
  }
}